// custom variables go here----------------------------------------

// these are variables from bs I changed
$primary: #1A5319;
$info: #faf5e4;
$light: #D6EFD8;



// entire bootstrap file goes here
// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";